<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#" style="font-family: 'Montserrat', sans-serif ;font-weight: 600; font-size: 30px;" id="baslik"> Kordel Müzik </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav ml-auto">

      </ul>
    </div>
  </nav>



  <style>
    #baslik {
        color: black;
        transition: 0.3s;
    }

    #baslik:hover {
        color: #6fa307;
    }
  </style>