{% extends 'layout.html' %}


{% block head %}
    <title> Kordel Müzik - Forum - {{data["title"]}} </title>
{% endblock %}

{% block body %}
<br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span style="font-size: 24px;"> {{data["title"]}} - </span>
                <span style="font-size: 17px;"> {{data2["username"]}} </span>
                <hr>
                <span style="font-size: 15px;"> {{data["content"]}} </span>
                <br><br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm" style="text-align: end;">
                <form method="post" class="horizontal-form">
                    <div class="form-group">
                        <div style="text-align: start;">
                            <label for="{{ form.content.id }}"> </label>
                        </div>
                        <span> {{ form.content(class="form-control") }} </span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Yorum Yap" class="btn btn-success">                      
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <span style="font-size: 24px; color: yellowgreen;"> Yorumlar </span> <br><br>
                <div>
                    <ul>
                        {% for comment in comments %}
                        <li style="border: 1px solid yellowgreen; padding: 10px; margin-top: 5px; list-style-type: none;">
                        
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm">
                                        {{comment["content"]}}
                                    </div>
                                    <div class="col-sm" style="text-align: end;">
                                        {{comment["date"]}}
                                    </div>
                                </div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

